{% extends "index.html" %}

{% block body %}
    <div class="contentAdd"> 
        <div class="content">
            <p>Šīs ir kaut kāds teksts</p>
        </div>

        <form method="POST">
            <input type="text" name="app_name" placeholder="Aplikācijas nosaukums" required>
            <br><br>
            <input type="password" name="password" placeholder="Parole" required>
            <button type="submit">Saglabāt</button>
        </form>

        <form action="/" method="GET">
            <button type="submit" class="btn-add">Paslēpt</button>
        </form>
    </div>
{% endblock %}