<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
</head>
<body>
    <div class="contentAdd"> 
    <div class="content">
        
        <form method="POST">
            <input type="text" name="app_name" placeholder="Aplikācijas nosaukums" required>
            <input type="password" name="password" placeholder="Parole" required>
            <button type="submit" class="submit">Saglabāt</button>
        </form>

        <form action="/" method="GET">
            <button type="submit" class="btn-back">Atpakaļ</button>
        </form>

    </div>
</div>

</body>
</html>

