<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manas paroles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
</head>
<body class="index-body">
    
    
    <h1>{{ title }}</h1>

    <p class="textp">{{ description }}</p>


    <div class="index-content">
        <div class="table">
            <table class="my-table">
                <tr>
                    <th>Applikācija</th>
                    <th>Parole</th>
                    <th>Darbība</th>
                </tr>

                {% for i in passwords %}
                <tr>
                    <td>{{ i.app_name}}</td>
                    <td>{{ i.password}}</td>
                    <td> 
                        <form method = "POST" action = "/delete/{{ i.id }}">
                            <button type="submit" class="btn-delete" >Dzēst</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>    


        <form action="/add" method="GET">
            <button type="submit" class="btn-add">Pievienot jaunu</button>
        </form>
    </div>
    
</body>
</html>