<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manas paroles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
</head>
<body>
    <h1>Manas paroles</h1>

    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>

    <table class="my-table">
        <tr>
            <th>Applikācija</th>
            <th>Parole</th>
            <th>Darbība</th>
        </tr>

        {% for i in passwords %}
        <tr>
            <td>{{ i.app_name}}</td>
            <td>{{ i.password}}</td>
            <td> 
                <form method = "POST" action = "/delete/{{ i.id }}">
                    <button type="submit">Dzēst</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="/add" method="GET">
        <button type="submit" class="btn-add">Pievienot jaunu</button>
    </form>
    
</body>
</html>